body { 
  background: #333;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: #fff;
  background: #3149B2;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.gears-d3-canvas svg {
  max-width: 100%;
  max-height: 768px;
}

.style-0 path { fill: #cccccc; }
.style-1 path { fill: #7C7A7A; }
.style-2 path { fill: #494949; }
.style-3 path { fill: #999999; }
.style-4 path { fill: #7C7A7A; }
